<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card p-4 shadow-sm rounded">
        <h3 class="text-center mb-4">Create Your Kanban Fields</h3>

        <!-- Field Name Section -->
        <h5 class="text-center mb-3">Enter Field Name</h5>
        <input type="text" name="field" [(ngModel)]="fields[0].fieldName" class="form-control" placeholder="Enter field name" required>
        <button class="btn btn-outline-primary mt-3 w-100" (click)="proceedToStages(0)">Add Stages</button>

        <!-- Stages Section -->
        @if(showStages) {
          <h5 class="mt-4 text-center">Stages for: <b>{{ fields[currentFieldIndex]?.fieldName }}</b></h5>

          <label class="form-label">Enter Number of Stages:</label>
          <input type="number" [(ngModel)]="stageCount" class="form-control" required>
          <button class="btn btn-secondary w-100 mt-2" (click)="setStageCount()" [disabled]="stageCount < 2">Next</button>

          @if(stageInputVisible) {
            @for(item of fields[currentFieldIndex].stages; track $index) {
              <input type="text" class="form-control my-2" placeholder="Enter stage name" [(ngModel)]="fields[currentFieldIndex].stages[$index]" required>
            }
          }

        }
        <button class="btn btn-success w-100 mt-3" (click)="saveFields()" 
          [disabled]="!allFieldsFilled() || !allStagesFilled()  || stageCount < 2">Save</button>
      </div>
    </div>
  </div>
</div>
