<div class="container mt-4">
  <h2 class="text-center">📌 Select a Field</h2>
  
  <div class="row">
    @for(field of fields; track $index) {
      <div class="col-md-4">
        <div class="card p-3 text-center shadow-lg">
          <h5 class="card-title">{{ field.fieldName }}</h5>
          <a [routerLink]="['/kanban', field.fieldName]" class="btn btn-success mt-2">📝 Open Kanban</a>
          <button class="btn btn-danger mt-2" (click)="deleteField($index)">❌ Delete</button>
        </div>
      </div>
    }
  </div>
</div>
